{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}{# disable sonata text #}{% endblock %}
{% block sonata_sidebar_search %}{# disable search form #}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% endblock javascripts %}

{% block sonata_header %}
    <div id="ajax_loader">
        <img src="/bundles/appbackend/images/ajax-loader.gif" alt=""/>
    </div>
    {{ parent() }}
{% endblock sonata_header %}
