{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-success" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-zoom-in icon-white"></i> {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}