{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
{% spaceless %}
    {% if value %}
        <span class="label label-success">{% trans %}Active{% endtrans %}</span>
    {% else %}
        <span class="label">{% trans %}Inactive{% endtrans %}</span>
    {% endif %}
{% endspaceless %}
{% endblock %}