{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
{% spaceless %}
    {% if value %}
        <span class="label label-success">{% trans from 'article' %}Published{% endtrans %}</span>
    {% else %}
        <span class="label">{% trans from 'article' %}Disabled{% endtrans %}</span>
    {% endif %}
{% endspaceless %}
{% endblock %}