@CHARSET "UTF-8";

/* Sticky footer styles -------------------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -33px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 33px;
}
#footer {
    font-size: 12px;
    line-height: 12px;
}
.footer-border {
    border-top: 1px solid #eee;
}
.footer-border .pull-right {
    margin-top: 10px;
}
.page-content {
    padding-top: 60px;
}
.page-header h1 {
    font-size: 25px;
}
.page-header {
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.box{
    border: 1px solid #DEDEDE;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin-top: 10px; 
    margin-bottom: 10px ;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
    border:none;
    padding-top:5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    height:12px;
    min-height:12px;
    margin-bottom: 0;
    cursor: default;
    font-weight:bold;
    font-size: 16px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
    padding-left: 10px;
    padding-right: 8px;
}

.box-header h2{
    font-size:15px;
    width:auto;
    clear:none;
    float:left;
    line-height:25px;
    margin-top: 0px;
}
.box-header h3{
    font-size:13px;
    width:auto;
    clear:none;
    float:left;
    line-height:25px;
}
.box-header h2 > i{
    margin-top:1px;
}
.box-icon{
    float:right;
}
.box-icon a{
    clear:none;
    float:left;
    margin:0 2px;
    height: 18px;
    width:5px;
    margin-top: -1px;
}
.box-icon a i{
    margin-left:-4.5px;
}
.box-content{
    padding:10px;
}

@media (min-width: 979px) {
    body.sonata-bc {
        padding-top: 0px;
    }
}

.sonata-bc .navbar a.brand {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    padding-right: 20px;
}

.sonata-bc a.brand img {
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    height: 28px;
    vertical-align: middle;
}

.sonata-bc div.border {
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.sonata-bc div.connection {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 460px;
    margin: -130px 0 0 -250px;
    box-shadow: 2px 2px 10px #ccc;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.sonata-bc div.connection .control-group {
    padding: 0 20px 0 20px;
}

.sonata-bc div.connection .alert {
    margin: 0 20px 20px 20px;
}

.sonata-bc div.connection form {
    padding-top: 15px;
    margin-bottom: 0px;
}

.sonata-bc div.connection form .form-actions {
    margin-bottom: 0px;
}

.sonata-bc div.connection .form-actions {
    padding-left: 20px;
}

.sonata-bc div.connection div input.big {
    height: 35px;
    font-size: 25px;
}

.sonata-bc.sonata-ba-no-side-menu div.container-fluid > div.content {
    margin-left: 0px;
}

.sonata-bc div.sonata-ba-field-inline-table input.title {
    width: 100px;
}

.sonata-bc div.sonata-ba-field-inline-table textarea.title {
    width: 150px;
    height: 50px;
}

.sonata-bc fieldset.filter_legend {
    font-weight: normal;
    border: 1px solid #E4E4E4;
    margin: 0;
    border-width: 1px 0 0;
    padding: 0;
}

.sonata-bc fieldset.filter_legend table {
    margin: 10px 0;
}

.sonata-bc legend.filter_legend {
    position: relative;
    padding-left: 16px;
    cursor: pointer;
}

.sonata-bc legend.filter_legend:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -2px;
}

.sonata-bc form.sonata-filter-form.form-stacked {
    padding-left: 0;
}

.sonata-bc legend.filter_legend.active,
.sonata-bc tr.filter.active * {
    font-weight: bold;
    color: #000;
}

.sonata-bc table.sonata-ba-list td {
    width: 75px;
}

.sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected td, .sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected th {
    background-color: #fcffc4;
}

.sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected:nth-child(odd) td, .sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected:nth-child(odd) th {
    background-color: #faff9e;
}

.sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected:hover td, .sonata-bc .zebra-striped tbody tr.sonata-ba-list-row-selected:hover th {
    background-color: #fdffd8;
}

.sonata-bc table.sonata-ba-list td img {
    vertical-align: bottom
}

.sonata-bc td.pager ul {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
}

.sonata-bc td.pager ul li {
    float: left;
}

.sonata-bc td.pager ul li a {
    border: 1px solid #cccccc;
    line-height: 25px;
    padding: 1px 8px 1px 8px;
    margin: 2px;
}

.sonata-bc div.sonata-ba-modal-edit-one-to-one td.sonata-ba-list-field-batch,
.sonata-bc div.sonata-ba-modal-edit-one-to-one div.sonata-ba-list-actions,
.sonata-bc div.sonata-ba-modal-edit-one-to-one th.sonata-ba-list-field-header-batch {
    display: none;
}

.sonata-bc div.sonata-ba-modal-edit-one-to-one div.sonata-ba-list-actions {
    display: none;
}


.sonata-bc em.sonata-ba-field-help {
    display: block;
    color: #999;
    margin-bottom: 10px;
}

.sonata-bc fieldset legend {
    padding-left: 0px;
}

.sonata-bc select.sonata-medium, textarea.sonata-medium, input.sonata-medium {
    width: 400px;
}

.sonata-bc textarea.sonata-medium {
    height: 125px;
}

.sonata-bc div.sonata-medium-date select {
    width: 75px;
}

.sonata-bc div.sonata-medium-date div {
    float: left;
}

.sonata-bc .sonata-ba-field-inline-table select.sonata-medium,
.sonata-bc .sonata-ba-field-inline-table textarea.sonata-medium,
.sonata-bc .sonata-ba-field-inline-table input.sonata-medium {
    width: 150px;
}

.sonata-bc .sonata-ba-view-title {
    font-size: 19.5px;
    line-height: 1;
    color: #404040;
    *padding: 0 0 5px 0;
    *line-height: 1.5;
}

.sonata-bc .sonata-ba-view-title td, .sonata-ba-view-title th {
    border: 0;
}

.sonata-bc .sonata-ba-view-container th {
    width: 130px;
}

.sonata-bc .sonata-ba-view-container td, .sonata-ba-view-container th {
    border-bottom: 0;
    border-top: 1px solid #eee;
}

.sonata-bc .sonata-ba-view-container:nth-child(2n) td, .sonata-ba-view-container:nth-child(2n) th {
    background-color: #f9f9f9;
}

.sonata-bc .sonata-ba-view-container:nth-child(2n):hover td, .sonata-ba-view-container:nth-child(2n):hover th {
    background-color: #f5f5f5;
}

.sonata-bc .container-fluid > .sidebar {
    top: auto;
}

.sonata-action-element.btn-group {
    display: inline-block;
    padding: 4px 10px 4px;
    vertical-align: middle;
}

.sonata-collection-delete {
    float: left;
    margin-top: 5px;
}

.no-js .sonata-collection-add, .no-js .sonata-collection-delete {
    display: none;
}

ul.inputs-list {
    padding-left: 150px;
}

legend + .sonata-ba-collapsed-fields {
    margin-top: 18px;
    -webkit-margin-top-collapse: separate;
}

legend.sonata-ba-fieldset-collapsed-description + .sonata-ba-collapsed-fields {
    margin-top: 0;
}

.sonata-ba-collapsed-fields > p {
    margin-bottom: 18px;
}

.bordered-table tbody.ui-sortable tr {
    cursor: move;
}

.sonata-ba-fieldset-collapsed legend:before {
    content: '+ ';
}

.sonata-ba-collapsed-fields-close legend:before {
    content: '- ';
    padding-left: 5px;
}

.sonata-preview-form-container fieldset {
    display: none;
}

.sonata-bc .pagination {
    margin: 0px;
}
.sonata-ba-list-field-header th a {
    text-decoration: none;
}
